@import url('https://fonts.googleapis.com/css?family=Rubik:300');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #f5f5f5;
    font-family: 'Rubik', sans-serif;
    color: black;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(10px, auto);
    grid-gap: 20px;
    grid-template-areas: 
    "title title title title"
    "left left left left" 
    "banner banner banner banner"
    "banner2 banner2 banner3 banner3"
    "banner4 banner4 banner4 banner4"
    "footer footer footer footer" ;
}

@media screen and (min-width: 760px) {
    .content {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(10px, auto);
        grid-gap: 30px;
        grid-template-areas: 
        "left title title title"
        "left banner banner banner"
        "left banner2 banner3 banner4"
        "left footer footer footer" ;
    }

    .two {
        padding: 20px;
    }
}

/* ------------ Grid boxes ------------ */

/*  Left side - One */

.one {
    grid-area: left;
    color: white;
    padding: 20px;    
    background: slategray;
}
img {
    width: 100%;
}
p {
    margin-top: 30px;
    line-height: 1.5;
}

/*  Title - Two  */

.two {
    grid-area: title;
}


.three, .four, .five, .six {
    background-size: cover;
    box-shadow: 0px 30px 25px -20px #777;
}

.three {
    grid-area: banner;
    height: 60%;  
}

/*  Small pics  */

.four {
    grid-area: banner2;
}

.five {
    grid-area: banner3;
}

.six {
    grid-area: banner4;
}

/*  Text  */

.seven {
    margin: 0 20px 20px 20px;
    grid-area: footer;
}